<%- include('partials/head')%>


    <%- include('partials/navbar')%>

        <div class="container">

            <h1>vLMIS Home Page <%= 4+5+3%>
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate culpa voluptas aliquid ipsa quas
                ullam ut
                possimus deserunt repellat, maiores, amet fugiat odit consequuntur, assumenda ratione deleniti ipsam
                eaque
                sint?
            </p>
            <br>
            <br>
            <div>
                <a class="btn btn-primary" href="/sites">Sites
                </a>
            </div>

            <br>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <button>Submit Report</button>

                        <button>Review Stock Status</button>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <button>Vaccine</button>

                        <button>MM/YY</button>
                    </div>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <button>Level: National/province/district</button>


                    </div>
                </div>
            </div>
            <br> <br>
            <div class=" container">
                <div class="row">
                    <div class="col">
                        <button>Opening SOH</button>

                        <button>Receipts</button>

                        <button>Issues</button>

                        <button>Losses</button>

                        <button>Closing SOH</button>

                        <button>Stock count</button>
                    </div>
                </div>
            </div>
            <br>
            <div class=" container">
                <div class="row">
                    <div class="col">
                        <button>Vaccinations done</button>

                    </div>
                </div>
            </div>
        </div>

        <br>

        <%- include('partials/footer')%>