<%- include('partials/head')%>




    <%- include('partials/navbar')%>

        <div class="container">
            <h1>you have reached the <%= subreddit.toUpperCase() %> page </h1>

        </div>

        <%- include('partials/footer')%>